.layout-header{
    .top-menu-logo{
        width:160px;
        float: left;
    }
    .left-menu-logo{
        width:300px;
        float: left;
    }
}
.switch-menu-btn:focus {
    color:#ffffff !important;
    border-color: #ffffff !important;
}

.bean-tree {
    .ant-descriptions-item-content{
        padding:0px !important;
    }
}
.chart-header{
    margin-left: 40px;
}
